// main: ../style.less

.header {
    padding: 1.6rem 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}