// main: ../style.less

.my-skils{
    margin-top: 8rem;
}
.my-skils__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

}
.my-skils__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.my-skils__subtitle {
    font-weight: 700;
    font-size: 5rem;
    color: fade(@black, 15%);

    text-transform: uppercase;
    line-height: 1;
}

.my-skils__col {
    width: 50%;

}
.my-skils__text{
    margin-top: 2rem;
}
.my-skils__text p {
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5px;
}
.my-skils__me{
    margin-left: 10px;
}
.my-skils__my-photo{
    width: 100%;
    border:7px solid fade(@black, 70%);
}